.task {
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  color: #444;
  padding-right: 30px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  .task-body {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .task-done {
    text-decoration: line-through;
    color: #999;
  }

  .icon-star-container {
    &:hover {
      .icon-star-full {
        display: inline-block;
      }
      .icon-star-empty {
        display: none;
      }
    }

    .icon-star-full {
      display: none;
    }

    .icon-star {
      color: gold;
    }
  }

  .icon-trash-container {
    position: absolute;
    right: 0;

    &:hover {
      .icon-trash-full {
        display: inline-block;
      }
      .icon-trash-empty {
        display: none;
      }
    }

    .icon-trash-full {
      display: none;
    }

    .icon-trash {
      color: hsl(348, 100%, 61%);
    }
  }

  .icon {
    font-size: 20px;
    padding: 10px;
  }
}
