.task {
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  color: #666;
  padding-right: 30px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  .task-body {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .is-done {
    text-decoration: line-through;
  }

  .icon {
    font-size: 20px;
    padding: 10px;
  }

  .icon-star-empty {
    color: gold;
  }

  .trash-icon {
    color: hsl(348, 100%, 61%);
    position: absolute;
    right: 0;
  }
}
