.task {
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  color: #444;
  padding-right: 30px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  .task-body {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .task-body-done {
    text-decoration: line-through;
    color: #999;
  }

  .icon-star-container {
    &:hover {
      .icon-star-full {
        display: inline-block;
      }
      .icon-star-empty {
        display: none;
      }
    }

    .icon-star-full {
      display: none;
    }

    .icon-star {
      color: gold;
    }
  }

  // If task is saved to important
  .reverse-icon-star-container {
    &:hover {
      .icon-star-full {
        display: none;
      }
      .icon-star-empty {
        display: inline-block;
      }
    }

    .icon-star-empty {
      display: none;
    }

    .icon-star {
      color: gold;
    }
  }

  .date {
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 40px;
    margin: 0;
  }
}
