.tasks-container {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;

  .task:nth-child(even),
  .task-skeleton:nth-child(even) {
    background: white;
  }

  .task:nth-child(odd),
  .task-skeleton:nth-child(odd) {
    background-color: #eee;
  }

  .task:hover {
    background-color: rgb(147, 206, 222);
    color: white;
  }

  .task-done:nth-child(even):hover {
    background-color: white;
  }

  .task-done:nth-child(odd):hover {
    background-color: #eee;
  }

  .task-done:hover {
    color: #999;
  }
}
