.page-container {
  .group-panel,
  .task-panel {
    min-height: 300px;
  }

  .group-panel {
    padding: 50px 10px;
    width: 35%;
    background-color: rgb(169, 215, 204);
  }

  .task-panel {
    padding: 50px;
    width: 65%;
    background-color: white;
  }
}
