.add-task-input {
  margin-right: 10px;
}

.add-task-input:focus {
  box-shadow: 0 0 3pt 2pt rgb(169, 215, 204);
}

.add-task-button {
  margin-left: 10px;
  width: 55px;
  background-color: rgb(147, 206, 222);
  color: white;

  &:hover {
    background-color: rgb(169, 215, 204);
  }
}
