.App {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.page-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-content: center;
  margin: auto;
  border-radius: 10px;
  /* overflow: hidden to curve the border */
  overflow: hidden;

  @media screen and (max-width: 768px) {
    overflow: unset;
  }
}

.add-container {
  display: flex;
  justify-content: space-between;

  .add-button,
  .add-input {
    display: block;
  }

  .add-input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 1px 20px;

    &:focus {
      outline: none;
    }
  }

  .add-button {
    border-radius: 50px;
    height: 50px;
    border: 1px solid rgb(147, 206, 222);
    font-size: 40px;
    line-height: 46px;
    cursor: pointer;
    transition: background 0.5s;
    &:focus {
      outline: none;
    }
  }
}

.icon {
  font-size: 20px;
  padding: 10px;
}

.icon-trash-container {
  position: absolute;
  right: 0;

  &:hover {
    .icon-trash-full {
      display: inline-block;
    }
    .icon-trash-empty {
      display: none;
    }
  }

  .icon-trash-full {
    display: none;
  }

  .icon-trash {
    color: hsl(348, 100%, 61%);
  }
}

.task-skeleton,
.group-skeleton {
  width: 100%;
  height: 50px;
  transition: background-color 0.5s, color 0.5s;
  padding-right: 30px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  .task-body-skeleton,
  .group-name-skeleton {
    width: 50%;
    height: 18px;
    margin-left: 40px;
  }

  .task-body-skeleton {
    background-color: #999;
  }

  .group-name-skeleton {
    background-color: #fff;
  }
}
